#p1 {background-color: hex#000000;}
#p2 {background-color: hex#E69F00;}
#p3 {background-color: hex#009E73;}
#p4 {background-color: hex#F0E442;}
#p5 {background-color: hex#0072B2;}
#p6 {background-color: hex#D55E00;}
#p7 {background-color: hex#CC79A7;}
